library_webService/src/main/java/com/parlow/library/webservice/service/wsdl/Auth_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://com.parlow.library.consummer" xmlns:tns="http://com.parlow.library.consummer" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="connecter" type="tns:connecter"/>

  <xs:element name="connecterResponse" type="tns:connecterResponse"/>

  <xs:element name="enregistrement" type="tns:enregistrement"/>

  <xs:element name="enregistrementResponse" type="tns:enregistrementResponse"/>

  <xs:complexType name="connecter">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="connecterResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enregistrement">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      <xs:element name="arg3" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enregistrementResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

